/* For each phone, first query is landscape orientation, second is portrait orientation. Last query is for desktop style.*/


/*/ iPhone 5 ----------- = /*/
@media only screen 
and (min-device-width: 320px) 
and (max-device-height: 568px) 
and (orientation : landscape) 
and (-webkit-device-pixel-ratio: 2){
}

@media only screen 
and (min-device-width: 320px) 
and (max-device-height: 568px) 
and (orientation : portrait) 
and (-webkit-device-pixel-ratio: 2){
}

/*/ iPhone 6 ----------- /*/
@media only screen 
and (min-device-width: 375px) 
and (max-device-height: 667px) 
and (orientation : landscape) 
and (-webkit-device-pixel-ratio: 2){
}

@media only screen 
and (min-device-width: 375px) 
and (max-device-height: 667px) 
and (orientation : portrait) 
and (-webkit-device-pixel-ratio: 2){
}

/*/ iPhone 6+ ----------- /*/
@media only screen 
and (min-device-width: 414px) 
and (max-device-height: 736px) 
and (orientation : landscape) 
and (-webkit-device-pixel-ratio: 2){
}

@media only screen 
and (min-device-width: 414px) 
and (max-device-height: 736px) 
and (orientation : portrait) 
and (-webkit-device-pixel-ratio: 2){
}

/*/ Samsung Galaxy S5 ----------- /*/
@media only screen 
and (min-device-width: 360px) 
and (max-device-height: 640px) 
and (orientation : landscape) 
and (-webkit-device-pixel-ratio: 3){
}

@media only screen 
and (min-device-width: 360px) 
and (max-device-height: 640px) 
and (orientation : portrait) 
and (-webkit-device-pixel-ratio: 3){
}


/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
}




/*/ Start of DESKTOP styles ----------- /*/
@media only screen  and (min-width : 1224px) {
	* {
		box-sizing: border-box;
	}
	html {
  		height: 100%; /*for older browsers*/
  		height: 100vh; 
	}
	body {
  	    min-height: 100%; /*for older browsers*/
  	    min-height: 100vh;
	}
	a:hover {
		cursor: pointer;
		color: red;
		transition: 1s;
	}
	a:not(:hover){
		transition: 1s;
	}
	wrapper {
 	    position: relative;
	    background-color: rgb(255,238,0);
		display: block;
		margin-top: 10vh;
		padding-top: 3.8vh;
		padding-bottom: 12vh;
	}

	.grid{
		position: absolute;
		height: 100%;
		width: 2px;
		background-color: white;
		top: 0;
		display: none; 
	}
	.grid_bar_1{left:8.33%;}
	.grid_bar_2{left:16.7%;}
	.grid_bar_3{left:25%;}
	.grid_bar_4{left:33.33%;}
	.grid_bar_5{left:41.66%;}
	.grid_bar_6{left:50%;}
	.grid_bar_7{left:58.33%;}
	.grid_bar_8{left:66.7%;}
	.grid_bar_9{left:75%;}
	.grid_bar_10{left:83.33%;}
	.grid_bar_11{left:91.33%;}
	.grid_bar_12{left:99.75%;}


	container {
	    display: block;
	    width: 66.5%;
 	    margin: 0 auto;
	    background-color: rgb(255,238,0);
	    border: 1px outset #F56C3C;
	    padding: 1vh;
	}


	/* The browser, by default, colours yellow an input box when it is autofilled. Below code colours the input box
	white always. Another way around the yellow shadow is turning autocomplete off for the form, but lets not */
	input:-webkit-autofill {
	    -webkit-box-shadow: 0 0 0px 1000px white inset;
	}

	input{
		position: absolute;
		border: 1px outset #f56c57;
	    left: 2.5%;
		top: 10vh;
	}
	input:nth-of-type(2)  {
		border: 1px inset #f56c57;
		top: 14vh;
	}

	input[type="submit"] {
		color: white;
		background-color: rgb(66, 134, 244);
		width: 77px;
		height: 25px;
		font-size: 95%;
		top: 18vh;
		border: none;
	}
	input[type = "submit"]:hover {
	    cursor: pointer;
	}
	iframe {
	    display: none;
	}
	body {
	    font-family: 'Open Sans', sans-serif;
	}

    /* Red and black silhouettes*/
	.uma{
   	    width: 25%;
	    /*border: 1px solid black;*/
	}
	.left {
	    float: left;
	}
	.right {
	    float: right;
	}
	.clearfix::after {
        content: "";
        clear: both;
        display: table;
	}	

	#info-logo{
		position: relative;
		top: 1vh;
	}
	#info-message {
	    width: 30%; 
	    /*border: 1px solid black;*/
	}
	.right-info {
		position: absolute;
		left: 67%;
		top: 9vh;
	}
	.right-info:hover {
		color: red;
		transition: 1.33s;
		cursor: pointer;
	}
	.right-info:not(:hover){
		transition: 1.15s;
	}
	.gdpr-disclaimer {
		position: absolute;
		width: 13%;
		top: 25vh;
		left: 2.5%;
		line-height: 2vh;
		font-size: .75em;

	}
	.gdpr-disclaimer:nth-of-type(2) {
		top: 40vh;
		font-size: .8em;
	}
	#gdpr-radio {
		position: absolute;
		top: 37vh;
		left: 2.25%;
	}
	#small-arrow {
		position: absolute;
		width: 1%;
		top: 37vh;
		left: 6%;
	}

	

}