/*/ Start of DESKTOP styles ----------- /*/
@media only screen  and (max-width : 2800px) {
	* {
		box-sizing: border-box;
	}
	html {
  		height: 100%; /*for older browsers*/
  		height: 100vh; 
	}

	a:hover {
		cursor: pointer;
		color: red;
		transition: 1s;
	}
	a:not(:hover){
		transition: 1s;
	}
	wrapper {
 	    position: relative;
		display: block;
		margin-top: 10vh;
		padding-top: 3.8vh;
		padding-bottom: 8vh;
		overflow: auto; 
	}
	/* Add a black background color to the top navigation bar */
	.topnav {
    	overflow: hidden;
    	background-color: rgba(230,230,230,0.75);
    	position: fixed;
   		width: 100%;
   		top: 0px;
   		z-index: 4;
   		height: 62px;
	}
	/* Style the links inside the navigation bar */
	.topnav a {
	    float: left;
	    display: block;
	    text-align: center;
	  	padding: 14px 16px;
    	text-decoration: none;
   		font-size: 17px;
  		margin: 6px;
  		min-width: 7em;
	}

	/* Change the color of links on hover */
	.topnav a:hover {
	    background-color: #ddd;
	    color: black;
	}

	/* Style the "active" element to highlight the current page */
	.topnav a.active {
	    background-color: black;
	    color: white;
        margin-top: 1vh;
	}
	.topnav a.active:nth-of-type(1) {
	    margin-left: 3%;
	    position: relative;
	    top:-0.5px;
	    left: -0.5px;
	}
	.grid{
		position: absolute;
		height: 100%;
		width: 2px;
		background-color: white;	
		top: 0;
		display: none;   
	}
	.grid_bar_1{left:8.33%;}
	.grid_bar_2{left:16.7%;}
	.grid_bar_3{left:25%;}
	.grid_bar_4{left:33.33%;}
	.grid_bar_5{left:41.66%;}
	.grid_bar_6{left:50%;}
	.grid_bar_7{left:58.33%;}
	.grid_bar_8{left:66.7%;}
	.grid_bar_9{left:75%;}
	.grid_bar_10{left:83.33%;}
	.grid_bar_11{left:91.33%;}
	.grid_bar_12{left:99.75%;}

	.container {
		/*border: 1px solid red;*/
	}
	.container-left {
		display: inline-block;
		width: 16%;
		min-width: 143px;
		margin-left: 3%;
		overflow: hidden; 
		clear: right;
	    min-height: 8em;
		padding: 5px 15px 20px 0px;
		border-right: 1px solid rgba(122, 34, 34, 0.5);
	}
	
	.container-right {
		border-collapse: collapse;
	    display: inline-block;
	    float:right;
	    width: 67.5%;
	    margin-right: 8%;
	    padding-top: 1vh;
	    padding-bottom: 1vh;
	}
	/* The browser, by default, colours yellow an input box when it is autofilled. Below code colours the input box
	white always. Another way around the yellow shadow is turning autocomplete off for the form, but lets not */
	input:-webkit-autofill {
	    -webkit-box-shadow: 0 0 0px 1000px white inset;
	}
	form{
		width: 90%;
	}
	input {
		margin-top: 1vh;
	}
	
	input[type="submit"] {
		color: white;
		background-color: rgb(66, 134, 244);
		display: block;
		margin-top: 1vh;
		width: 77px;
		height: 25px;
		font-size: 95%;
		border: none;
	}
	input[type = "submit"]:hover {
	    cursor: pointer;
	}
	iframe {
	    display: none;
	}
	body {
	    font-family: 'Open Sans', sans-serif;
	}

    /* Red and black silhouettes*/
	.uma {
   	    width: 25%;
   	    clear: right;
   	    /* ------------  */
		/*border: 1px solid red;*/
		/* ------------  */
	}
	.left {
	    float: left;
	}
	.right {
	    float: right;
	}
	.clearfix::after {
        content: "";
        clear: both;
        display: table;
	}	
	
	.info-message {
	    width: 30%; 
	    display: inline-block;
		/* ------------  */
		/*border: 1px solid red;*/
		/* ------------  */
	}
	.info-message:not(:hover) {
		transition:1s;
	}
	#info-text {
		display: inline-flex;
	}
	#welcome-message{
		text-align: center;
		display:none;
	}

	info{
		position: absolute;
		visibility: hidden;

		/* ------------  */
		/*border: 1px solid red;*/
		/* ------------  */
	}
	
	info{
		font-size: 0.95em;
	}
	
	info:nth-of-type(1){
	    top: 150px;
   		left: 48%;
	}
	info:nth-of-type(2){
		top: 175px;
   		left: 48%;
	}
	.left-info{
		cursor: pointer;
	}	
	
	.right-info {
		/* ------------  */
		/*border: 1px solid red;*/
		/* ------------  */
		text-align: right;
		margin-right: 5%;
		float: right;
		clear: both;
		display: inline-block;	
	}
	.right-info:hover {
		color: red;
		transition: 1.33s;
		cursor: pointer;
	}
	.right-info:not(:hover){
		transition: 1.15s;
	}
	.gdpr-disclaimer {
		text-align: justify;
		top: 25vh;
		left: 2.5%;
		line-height: 16px;
		font-size: .65em;
		background-color: rgba(122, 34, 34, 0.08);
		padding: 5px 10px 5px 10px;
	}
	
	#gdpr-radio {
		width: auto;
		top: 37vh;
		left: 2.25%;
	}
	#small-arrow {
		position: relative;
		width: 6%;
		left: 10%;
		transition: 1s;
	}
}


/* Styles related to moving around things that break*/
@media only screen  and (max-width : 1275px) {
	#small-arrow{
		width: 7%;
	}info:nth-of-type(1){
	    top: 150px;
	}
	
	info:nth-of-type(2){
		top: 175px;
	}}
@media only screen  and (max-width : 950px){
	info:nth-of-type(1){
	    top: 95px;
	}
	
	info:nth-of-type(2){
		top: 115px;
	}}
@media only screen  and (max-width : 800px){
	.gdpr-disclaimer{
		width: 100%;
	}
	info:nth-of-type(1){
	    top: 105px;
	}
	info:nth-of-type(2){
		top: 125px;
	}
	info{
		font-size: 0.8em;
	}
}



/* Start of PHONE styles */

/* Horizontal separator bar in portrait mode */
@media only screen  
and (max-width : 521px)
and (orientation : portrait){
	.container-left{
   		border-right: none;
	}
   .container-right{
   		margin-top: 10%;
   		border-top: 1px solid rgba(122, 34, 34,0.5);
   	} 
} 



/*GALAXY S5 fix*/
@media only screen  
and (min-width : 360px)
and (max-width : 362px)
and (orientation : portrait) 
and (-webkit-device-pixel-ratio: 3){
	info:nth-of-type(1){
        top: 41vh;
  	    left: 10%;
	}
	info:nth-of-type(2){
		top: 43.5vh;
   		left: 10%;
	}
	
}


/*/ iPhone 5 and 6  and GALAXY S3 ---------- /*/
@media only screen 
and (min-device-width: 320px) 
and (max-device-height: 667px) 
and (-webkit-device-pixel-ratio: 2){
	
	.container-right{
		margin-top: 4vh;
		margin-right: 10%;
	}
	
	.gdpr-disclaimer{
		line-height: 1.5em;
	}
	.info-message {
		font-size: 0.85em;
	    width: 40%; 
	    display: inline-block;
	}
	info:nth-of-type(1){
        top: 21.5em;
  	    left: 10%;
	}
	
	info:nth-of-type(2){
		top: 23em;
   		left: 10%;
	}	
}

@media only screen 
and (min-device-width: 320px) 
and (max-device-height: 768px) 
and (orientation : landscape) 
and (-webkit-device-pixel-ratio: 2){
	.gdpr-disclaimer{
		font-size: 0.7em;
	}
}

/* IPHONE 6*/
@media only screen 
and (min-device-width: 375px) 
and (max-device-height: 667px){
	info:nth-of-type(1){
        top: 42.5vh;
  	    left: 10%;
	}
	info:nth-of-type(2){
        top: 45vh;
  	    left: 10%;
	}}

@media only screen 
and (min-device-width: 375px) 
and (max-device-height: 667px) 
and (orientation : landscape){
	info:nth-of-type(1) {
    	top: 67vh;
    	left: 10.5%;
	}
	info:nth-of-type(2){
        top: 71vh;
  	    left: 10.5%;
	}
}


/*/ iPhone 6+  ----------- /*/

@media only screen 
and (min-device-width: 414px) 
and (max-device-height: 736px) 
and (orientation : portrait) 
/* THIS SHOULD BE UNCOMMENTED but if we do that, CHROME can't see it*/
/*and (-webkit-device-pixel-ratio: 2)*/{
	.container{
		width: 80%;
	}
	.container-right{
		margin-right: 10%;
	}
	.container-left{
		display: block;
		margin: 5px auto;
	}
	.gdpr-disclaimer{
		line-height: 1.5em;
	}
	.info-message {
		font-size: 0.85em;
	    width: 40%; 
	    display: inline-block;
	}
	info:nth-of-type(1){
        top: 37vh;
  	    left: 12%;
	}
	info:nth-of-type(2){
        top: 39vh;
  	    left: 12%;
	}
	
}


/* IPHONE X (portrait) */

@media only screen 
and (min-device-width: 375px) 
and (max-device-height: 812px) 
and (orientation : portrait) 
and (-webkit-device-pixel-ratio: 3){
	.container-right{
		margin-top: 8vh;
		margin-right: 10%;
	}
	
	.gdpr-disclaimer{
		line-height: 1.5em;
	}
	.info-message {
		font-size: 0.85em;
	    width: 40%; 
	    display: inline-block;
	}
	info:nth-of-type(1){
        top: 40vh;
  	    left: 10%;
	}
	info:nth-of-type(2){
        top: 42.5vh;
  	    left: 10%;
	}
	
}

/*//Microsoft Lumia 950 size*/
@media only screen 
and (min-device-width: 360px) 
and (max-device-height: 640px) 
{
	.container{
		width: 80%;
	}
	.container-right{
		margin-right: 10%;
	}
	.container-left{
		display: block;
		margin: 0 auto;
	}
	.gdpr-disclaimer{
		line-height: 1.5em;
	}
	
	.info-message {
		font-size: 0.85em;
	    width: 40%; 
	    display: inline-block;
	}
	info:nth-of-type(1) {
	    top: 41vh;
	    left: 10%;
	}
	info:nth-of-type(2) {
	    top: 43.75vh;
	    left: 10%;
	}
}

@media only screen 
and (min-device-width: 360px) 
and (max-device-height: 640px)
and (orientation : landscape){
	info:nth-of-type(1) {
		top: 66.5vh;
	}
	info:nth-of-type(2) {
		top: 71.75vh;
	}		
	#small-arrow {
		top:5px;
    	width: 6%;
	}
}


/*  Samsung Galaxy S5 (portrait and landscape) ----------- /*/
/*  There is also another fix for S5 at the start of phone styles */

@media only screen 
and (min-device-width: 360px) 
and (max-device-height: 640px) 
and (-webkit-device-pixel-ratio: 3){
	
	.gdpr-disclaimer{
		line-height: 1.5em;
	}
	
	.info-message {
		font-size: 0.85em;
	    width: 40%; 
	    display: inline-block;
	}
}



/* iPads (portrait and landscape) ----------- */


@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (min-device-height : 376px){

	.left, .left-info{
		margin-left: 2%;
	}
	#small-arrow {
    width: 20%;
    }
    .right-info{
    	margin-right: 0%;
    }}


/*IPHONE X small arrow fix (landscape) */
@media only screen 
and (min-device-width: 375px) 
and (max-device-height: 812px) 
and (orientation : landscape)
and (-webkit-device-pixel-ratio: 3){
	#small-arrow {
    width: 4%;
    top: 4px;
	}}



/* NEXUS 7 fix */
@media only screen  
and (min-width : 960px)
and (max-width: 961px)
and (orientation : landscape){
	info:nth-of-type(1) {
	    top: 48vh;
	    left: 10%;
	}
	info:nth-of-type(2) {
	    top: 51vh;
  	    left: 10%;
	}
	#small-arrow {
	    width: 25px;
	    top: 4px;
	}
}

@media only screen  
and (min-width : 600px)
and (max-width: 601px)
and (orientation : portrait){
	.container {
		width: 80%;
	}
	.container-left {
		display: block;
		margin: 0 auto;
	}
	.container-right {
		display: block;
		margin-right: 10%;
	}
	#small-arrow {
	    width: 6%;
	    top: 5px;
	}
	info:nth-of-type(1) {
	    top: 22.5em;
	    left: 10%;
	}
	info:nth-of-type(2) {
	    top: 24em;
	    left: 10%;
	}
}

/* PIXEL 2 FIX*/
@media only screen  
and (min-width : 411px)
and (max-width: 420px)
and (orientation : portrait){
	.info-message {
		font-size: 0.85em;
	    width: 40%; 
	    display: inline-block;
	}
	info:nth-of-type(1) {
	    top: 22.5em;
	    left: 10%;
	}
	info:nth-of-type(2) {
	    top: 24em;
	    left: 10%;
	}}

/* PIXEL 2 FIXES*/
@media only screen  
and (min-width : 822px)
and (max-width: 824px)
and (orientation : landscape){
	.left, .left-info {
    		margin-left: 0%;
	}
	#small-arrow {
    		width: 6%;
    		top: 10px;
	}
	.info-message {
			font-size: 1em;
	}
	
}


@media only screen  
and (min-width : 442px)
and (max-width: 552px)
and (orientation : portrait){
	.info-message{
		width: 35%;
	}
}


@media only screen  
and (max-width: 767px){
	#username, #password {
		padding-left: 2px;
	}
}

@media only screen  
and (min-width : 0px)
and (max-width: 640px){
	.container-left{
		width: 82%;
		display: block;
		margin: 0 auto;
		padding-left: 1%;
		border-top: none;
		min-height: 300px;
	}
	.container-right{
		width: 80%;
		margin-right: 10%;
		border-top: none;
	}
}

@media only screen  
and (min-width : 1024px){
	#small-arrow{
		top: 4px;
		width: 12%;
	}
}

@media only screen 
and (orientation : landscape){
	.container-left {
		min-height: 19em;
	}	
}