/* For each phone, first query is landscape orientation, second is portrait orientation. Last query is for desktop style.*/


/*/ iPhone 5 ----------- = /*/
@media only screen 
and (min-device-width: 320px) 
and (max-device-height: 568px) 
and (orientation : landscape) 
and (-webkit-device-pixel-ratio: 2){
}

@media only screen 
and (min-device-width: 320px) 
and (max-device-height: 568px) 
and (orientation : portrait) 
and (-webkit-device-pixel-ratio: 2){
}

/*/ iPhone 6 ----------- /*/
@media only screen 
and (min-device-width: 375px) 
and (max-device-height: 667px) 
and (orientation : landscape) 
and (-webkit-device-pixel-ratio: 2){
}

@media only screen 
and (min-device-width: 375px) 
and (max-device-height: 667px) 
and (orientation : portrait) 
and (-webkit-device-pixel-ratio: 2){
}

/*/ iPhone 6+ ----------- /*/
@media only screen 
and (min-device-width: 414px) 
and (max-device-height: 736px) 
and (orientation : landscape) 
and (-webkit-device-pixel-ratio: 2){
}

@media only screen 
and (min-device-width: 414px) 
and (max-device-height: 736px) 
and (orientation : portrait) 
and (-webkit-device-pixel-ratio: 2){
}

/*/ Samsung Galaxy S5 ----------- /*/
@media only screen 
and (min-device-width: 360px) 
and (max-device-height: 640px) 
and (orientation : landscape) 
and (-webkit-device-pixel-ratio: 3){
}

@media only screen 
and (min-device-width: 360px) 
and (max-device-height: 640px) 
and (orientation : portrait) 
and (-webkit-device-pixel-ratio: 3){
}


/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
}

/*/ Desktops and laptops ----------- /*/
@media only screen  and (min-width : 1224px) {

}

* {
    box-sizing: border-box;
    cursor: default;
  }

body {
    background-color: grey;
}

#title {
	font-size: 70px;
	text-align: center;
	font-family: chiller;
	color: white;
}

/* Add a black background color to the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #e9e9e9;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin: 6px;
    cursor: pointer;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
    background-color: black;
    color: white;
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
    float: right;
    padding: 5px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
	    margin: 13px;
}

.actionButtonClass {
    cursor: pointer;
    border-radius: 3px;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
    background-color: white;
    color: black;
    border: 2px solid #262626;
    font-size: 15px;
    margin: 10px;
}

.actionButtonClass:hover {
    background-color: #262626;
    color: white;
    border-radius: 45%;
}

article {
    background-color: #A4A4A4;
    width: 55%;
    padding: 20px;
    float: left;
    background-size: 100%;
    border: 3px solid #262626;
    font-size: 20px;
}

aside {
    background-color: #BDBDBD;
    background-size: 100%;
    float: right;
    width: 40%;
    padding: 1px;
    border: 3px solid #262626;
    text-align: center;
    font-size: 20px;
}

#movieTitleId {
    text-align: center;
    font-size: 20px;
}

#movieImageId {
    float:left;
    border: 1px solid black;
    margin-right: 30px;

}

.clear {
    clear: both;
  }

.rating > span:hover:before {
    content: "\2605";
    position: absolute;
 }

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}